extends layout.pug

block content
  .d-flex.justify-content-center.align-items-center.min-vh-100.text-center
    div
      h1.display-4.mb-4.text-primary Bienvenido al Sistema Hospitalario (HIS)
      p.lead.mb-5 Gestiona pacientes de forma eficiente.
      a.btn.btn-lg.btn-primary(href="/pacientes") Ingresar al Sistema