doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    // Puedes enlazar tu archivo CSS aquí (lo crearemos en el siguiente paso)
    link(rel="stylesheet", href="/css/style.css")
  body
    h1= title
    p ¡Este es tu primer paso en el Sistema Hospitalario!
    p Puedes empezar a construir las funcionalidades aquí.